{% for document in documents %}
    <section class="article article-{{ document.slug }} article-{{ document.id }} row" itemscope itemtype="http://schema.org/Article">

        <h4 class="" itemprop="name">
            <a href="{{ url('article_show', { slug: document.slug }, true) }}"
               title="{% trans with {'%name%': document.name } from "views" %}article.www.index.read.a.title{% endtrans %}"
               itemprop="url">
                {{ document.name }}
            </a>
        </h4>

        <div class="content" itemprop="{% if document.description %}description{% else %}articleSection{% endif %}">
            {% if document.description %}
                {{ document.description|raw }}
            {% else %}
                {% autoescape false %}
                {{ document.articleSection|striptags|truncate(240, false, '') }}
                {% endautoescape %}
            {% endif %}
        </div>

        <p><a href="{{ url('article_show', { slug: document.slug }, true) }}"
              title="{% trans with {'%name%': document.name } from "views" %}article.www.index.read.a.title{% endtrans %}"
              itemprop="url"
              class="btn">
                {% trans from "views" %}article.www.index.read.a.text{% endtrans %}
            </a></p>

        {% include 'BlackArticleBundle:Article:_info.html.twig' %}

    </section>
    <hr>
{% else %}
    <div class="alert alert-info">
        {% trans from "views" %}article.www.index.no.results{% endtrans %}
    </div>
{% endfor %}

{% include 'BlackArticleBundle:Article:_pager.html.twig' %}